header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust height when needed */
  margin-left: 20px; /* Adjust margin when needed */
}
